* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.message {
  text-align: center;
  margin-top: 10px;

  &.error {
    color: red;
    border: 1px red solid;
  }

  &.success {
    color: green;
    border: 1px green solid;
  }
}

a.post {
  display: block;
  color: black;
  text-decoration: none;
  padding: 1rem;

  &:hover {
    background-color: #ddd;
  }
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
