* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.message {
  text-align: center;
  margin-top: 10px;

  &.error {
    color: red;
    border: 1px red solid;
  }

  &.success {
    color: green;
    border: 1px green solid;
  }
}
