* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cart-indicator {
  position: relative;

  i {
    font-size: 1.5rem;
  }

  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    display: none;
  }
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.message {
  text-align: center;
  margin-top: 10px;

  &.error {
    color: red;
    border: 1px red solid;
  }

  &.success {
    color: green;
    border: 1px green solid;
  }
}

a {
  color: black;
}

a.active {
  color: blue;
}

a.post {
  display: block;
  color: black;
  text-decoration: none;
  padding: 1rem;

  &:hover {
    background-color: #ddd;
  }
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

i {
  font-size: 3rem;

  &.green {
    color: green;
  }
}

.post-wrapper {
  position: relative;
  padding-right: 1rem;

  i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
  }
}

.cart-item {
  display: flex;
}
